extends ../layout

block content
  .container
    .row
      .col-md-5
        form(action="/user/signin", method="post")
          .modal-body
            .form-group
              label(for="signinName") 用户名
              input#signinName.form-control(type="text" name="user[name]")
            .form-group
              label(for="signinPassword") 密码
              input#signinPassword.form-control(type="text" name="user[password]")
            .modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") 关闭
              button.btn.btn-success(type="submit") 提交